sudo: false
language: node_js
node_js:
  - node
  - 8
  - 6
cache:
  directories:
    - node_modules
script: "npm run test-travis"
after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
